html, body {
	margin: 0;
	padding: 0; }

.container {
	max-width: 980px;
	margin: auto;
}

.upper {
	height: 370px;
	background: url(../img/boston-skyline.jpg) no-repeat 50% 20%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.header {
	background-color: rgba(112, 142, 173, 0.75);
	height: 65px;
}

.logo img {
	height: 65px;
	padding: 10px 0;
}

.menu {
	text-align: center;
	display: inline;
	padding: 10px 0;
	float: right;
	margin-top: 12px;
}

.menu li {
	display: inline;
	margin-right: 20px;
}

.header .github img {
	height: 25px;
}

.header .box-btn {
	border: 1px solid #E7EFFB;
	border-radius: 0;
	padding: 15px;
	text-decoration: none;
	color: #E7EFFB;
}

.header a:hover {
	color:white;
	background-color:#384b68;
}

.header .github:hover {
	background-color: inherit;
}

.header .logo:hover {
	background-color: inherit;
}

.jumbotron {
	text-align: center;
	height: 275px;
	background-color: rgba(0,0,0,0);
}

.jumbotron .container {
	width: 300px;
	border: 4px solid black;
	display: inline-block;
	background-color: rgba(207, 203, 193, 0.5);
}

.jumbotron h2 {
	margin: 20px 0;
	color: rgba(0,0,0,0.7);
}

.body {
	background-color: #E8EBF2;
}

.body a img {
	height: 150px;
}

.body .screencap {
	height: 150px;
	border: 1px solid black;
}

.body .icon-link h4 {
	text-align: center;
}

.bottom-left {
	float: right;
}

.bottom-right {
	float: left;
}

.footer {
	background-color: #6E6965;
	width: 100%;
	height: 25px;
}

.footer p , address{
	margin: 0 auto;
	background-color: #6E6965;
	color: #77A0C2;
	font-size: 10px;
	padding: 5px 25px 5px 25px;
}

.footer .source {
	padding: auto;
	float: left;
	text-align: left;
}

.footer .mail {
	padding: auto;
	float: right;
	text-align: right;
}

.footer a {
	color: #E8EBF2;
}

.footer address {
	font-size: 10px;
}

@media screen and (min-width: 992px) {
	.body .row {
		margin-top: 15px;
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 992px) {
	.body .screencap {
		margin: 0px auto 10px auto;
	}

	.bottom-right {
		float: none;
	}

	.bottom-left {
		float: none;
	}

	.top-gallery-row {
		margin-bottom: 0px;
	}
}
